################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/inference_inputs
/outputs
/tensorboard_logs
/ven
/env
/logs
/MultiClassImageClassification.zip
/src/__pycache__
/src/wandb/
__pycache__/
Dataset/dataset*.csv
/inference_outputs
Dataset/graph_commons.csv
tags*.txt
src/train_many_models*.json
src/test_many_models*.json
default_config*.yml
src/default_config.yml
